<div class="p-6">
    <h2 class="text-2xl font-semibold mb-4 text-white">Dashboard</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 w-1/2">
        <div
            class="flex justify-between items-center p-5 bg-white shadow-md rounded-xl border-l-4 border-blue-500 hover:shadow-lg transition duration-300">
            <div>
                <p class="text-blue-600 font-semibold uppercase text-sm">All Quotations</p>
                <p class="text-2xl font-bold">0</p>
            </div>
            <div class="text-4xl text-gray-800">
                <i class="fas fa-bookmark"></i>
            </div>
        </div>

        <div
            class="flex justify-between items-center p-5 bg-white shadow-md rounded-xl border-l-4 border-green-500 hover:shadow-lg transition duration-300">
            <div>
                <p class="text-green-600 font-semibold uppercase text-sm">Online Bookings</p>
                <p class="text-2xl font-bold">0</p>
            </div>
            <div class="text-4xl text-gray-800">
                <i class="fas fa-calendar-check"></i>
            </div>
        </div>

    </div>
</div>
  
