<header class="text-black  h-14  bg-[#F8F9FB]">
    <nav class="w-full flex h-full pl-20">
        <ul class="pl-1 pr-1 text-black items-center justify-start h-full" *ngFor="let navigation of navigationLinks">
            <li class="hover:text-gray-500 h-full group grid place-content-center  relative"
                *ngIf="navigation.dropDown">
                <a href="#">{{ navigation.label }}</a>

                <div class="top-full hidden absolute group-hover:block hover:block group/item shadow-lg z-10">
                    <!-- <div class="absolute -top-5 left-0">
                        <div class="py-3">
                            <div class="w-4 h-4 absolute mt-1 bg-black rotate-45">
                            </div>
                        </div>
                    </div> -->
                    <ul class="flex flex-col bg-[#F8F9FB] pt-1 pb-1 w-[14rem]" *ngFor="let item of operations">
                        <li class="hover:bg-white flex p-2 flex-row group relative items-center text-black justify-between hover:text-gray-500"
                            (mouseenter)="activeItem = item" (mouseleave)="activeItem = null">
                            <a href="#">
                                {{ item }}</a>
                            <mat-icon aria-hidden="false" aria-label="Next page icon"
                                fontIcon="chevron_right"></mat-icon>
                            <div class="left-full absolute top-0  shadow-lg border group-hover:block hover:block z-10"
                                *ngIf="activeItem === item">
                                <ul class="flex flex-col bg-[#F8F9FB] p-3 w-[14rem] list-none">
                                    <li
                                        class="hover:bg-white flex p-2 text-black hover:text-gray-500 flex-row items-center justify-between ">
                                        <a href="#">Booking</a>
                                    </li>
                                    <li class="hover:bg-white p-2 flex flex-row items-center justify-between"><a
                                            href="#">Loading</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="h-full" *ngIf="!navigation.dropDown"><a [href]="navigation.link"
                    class="hover:text-gray-500 h-full grid place-content-center p-2">
                    {{ navigation.label }} </a></li>
        </ul>
    </nav>

</header>