<!-- forgot-password-component.html -->
<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <div class="text-center">
            <h1 class="text-5xl font-extrabold text-indigo-600">MetaMint</h1>
            <p class="mt-2 text-lg font-light p-4 text-gray-600">YOUR BUSINESS GROWTH PARTNER</p>
            <p class="mt-2 text-sm  text-gray-600">META MINT LOGISTICS</p>

        </div>

        <div class="mt-8 bg-white py-8 px-6 shadow-lg rounded-lg">
            <form class="space-y-6" [formGroup]="recoverPasswordDetails" (ngSubmit)="onRecover()">
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">User Name</label>
                    <div class="mt-1">
                        <input id="email" name="email" type="email" autocomplete="email" required
                            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            formControlName="name">
                    </div>
                    @if (recoverPasswordDetails.get('name')?.errors && recoverPasswordDetails.get('name')?.touched) {
                    <div class="error-message">
                        @if (recoverPasswordDetails.get('name')?.hasError('required')) {
                        <span class="text-red-500">User name is required</span>
                        }
                        @if (recoverPasswordDetails.get('name')?.hasError('name')) {
                        <span class="text-red-500">Please enter a valid name</span>
                        }
                    </div>
                    }
                </div>
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
                    <div class="mt-1">
                        <input id="email" name="email" type="email" autocomplete="email" required
                            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            formControlName="email">
                    </div>
                    @if (recoverPasswordDetails.get('email')?.errors && recoverPasswordDetails.get('email')?.touched) {
                    <div class="error-message">
                        @if (recoverPasswordDetails.get('email')?.hasError('required')) {
                        <span class="text-red-500">email is required</span>
                        }
                        @if (recoverPasswordDetails.get('email')?.hasError('email')) {
                        <span class="text-red-500">Please enter a valid email</span>
                        }
                    </div>
                    }
                </div>
                <div>
                    <button type="submit"
                        class="cursor-pointer w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Recover Password
                    </button>
                </div>
                <div class="text-sm w-full flex justify-end">
                    <a [routerLink]="['/Common/sign-in']"
                        class="font-medium text-indigo-600 hover:text-indigo-500 cursor-pointer">
                        Back to Login</a>
                </div>
            </form>
        </div>

    </div>
</div>