<div class="pl-8 pr-8 pt-3 flex flex-col gap-4">
    <h1 class="text-4xl font-bold text-white tracking-wide">Welcome back {{currentUser}}</h1>
    <div class="grid md:grid-cols-4 gap-4 grid-cols-2 mt-2">
        @for(item of dashCardsItems; track item.id){
        <app-dashboard-card [amount]="item.amount" [title]="item.cardTitle"></app-dashboard-card>
        }
    </div>

    <hr class="h-0.5 bg-white w-full ">

    <div class="">
        <h1 class="text-xl font-bold text-white tracking-wide pb-2">Last 30 Days Booking Register Chart</h1>
        <app-dashboard-line-chart></app-dashboard-line-chart>
    </div>
</div>

<!-- <app-about></app-about> -->