<div class="flex items-center justify-between rounded-2xl p-4 shadow-lg bg-white border-l-4 border-blue-500 
transform transition duration-500 ease-in-out hover:scale-105 hover:shadow-xl animate-fade-in">
    <div class="flex flex-col gap-4">
        <i class="fa-solid fa-bookmark fa-2x"></i>   
        <h2 class="text-sm text-gray-600 font-semibold">{{cardTitle}}</h2>
        <p class="text-xl font-bold flex flex-row gap-2">
            <span class="text-blue-500">{{dataFrom}}</span><span class=" text-base font-medium">of {{dataTo}}</span>
        </p>
    </div>
</div>