<div class="  md:p-4 rounded-lg  flex flex-col gap-10 overflow-hidden">
    <div class="chart-container bg-gray-200 p-2 w-full rounded-lg overflow-hidden">
        <span class="capitalize p-2 text-black pt-4 font-semibold tracking-wide ">PTL Booking Count</span>
        <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'">
        </canvas>
    </div>

    <div class="bg-gray-200 w-full rounded-lg overflow-hidden">
        <span class="capitalize p-2 text-black pt-4 font-semibold tracking-wide">PTL Booking Count</span>
        <canvas baseChart class="p-2" [data]="barChartData" [options]="barChartOptions" [type]="barChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>